@model IEnumerable<ReturneeManagement.Models.TravelList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightVessel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th></th>
        </tr>
    @*<tr>
        <th>Flight/Vessel</th>
        <th>Flight Code</th>
        <th>Arrival Date</th>
        <th></th>
    </tr>*@

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightVessel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TravelID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TravelID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TravelID })
            </td>
        </tr>
    }

</table>
